body {
  padding: 0;
  margin: 0;
}

.Begin {
  background-color: #fff7f2;
  width: 100%;
  height: 85vh;
  border-bottom: 3px solid white;
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex; 
  justify-content: center;

}

.navbar {
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.left-div{
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;

}
.middle-div{
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-div{
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  
}
.begining-p{
 
  font-style: normal;
  font-size: x-large;
}
.Begin{
  font-family: "Afacad Flux", serif;
  font-optical-sizing: auto;
  font-weight: weight;
}
.name-p{
  font-size: 6rem;
  line-height: 5.5rem;
  margin-top: 20%;
}