
body {
  padding: 0;
  margin: 0;
  transition: 0.4s;
  box-sizing: border-box;
}

.Begin {
  font-family: "Afacad Flux", serif;
}
.baslik{
  font-family: "Afacad Flux", serif;
}
.asd{
  font-family: "Oxygen", serif;
}
